.mod_wow_blue_tracker {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mod_wow_blue_tracker a {
    color: #00B4FF;
}

.mod_wow_blue_tracker a:hover,
.mod_wow_blue_tracker a:focus,
.mod_wow_blue_tracker a:active {
    text-decoration: underline;
}