.mod_wow_blue_tracker {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mod_wow_blue_tracker a,
.mod_wow_blue_tracker h4 {
    color: #00B4FF;
}

.mod_wow_blue_tracker li div {
    display: none;
    font-style: italic;
}

.mod_wow_blue_tracker li div.expand {
    display: block;
}

.mod_wow_blue_tracker div small {
    display: block;
    margin-bottom: 5px;
}

.mod_wow_blue_tracker .header {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mod_wow_blue_tracker a:hover,
.mod_wow_blue_tracker a:focus,
.mod_wow_blue_tracker a:active {
    text-decoration: underline;
}